body{
    background: rgb(160, 231, 255);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight:bold; 
    padding-left: 25%;
}

table {
    border: 1px 1px solid #b3adad;
    border-collapse: collapse;
    padding: 5px;
    position: relative;
    float: left;
}

table th {
    border: none;
    padding: 5px;
    background: #f0f0f0;
    color: #313030;
}

table td {
    border: none;
    text-align: center;
    padding: 5px;
    background: #ffffff;
    color: #313030;
}