{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="verUniversidades">
        <button><a href="/myapp/universidades/listadouniversidades/" target="_self">VER UNIVERSIDADES</a></button>
    </div>

    <br>
    
    {% if object.asignaturas.all %}
        {% for asignatura in object.asignaturas.all %}
            <p><strong>Nombre:</strong> {{ asignatura.nombre }}</p>
            <p><strong>Código:</strong> {{ asignatura.cod }}</p>
            <p><strong>Créditos:</strong> {{ asignatura.creditos }}</p>
            <br><br>
        {% endfor %}
    {% endif %}

    {% endblock %}