{% extends 'base.html' %}

{% load static %}

{% block body %}
<h1> {{object.nombre}} </h1>
<table id="tabla">
    <thead>
        <tr>
            <th>NOMBRE<br></th>
            <th>DNI</th>
            <th>FECHA NACIMIENTO</th>
            <th>FECHA INICIO</th>
            <th>GRADO<br></th>
        </tr>
    </thead>
    <tbody>
        {% if object.estudiantes.all %}
        {% for estudiante in object.estudiantes.all %}
        <tr>
            <td>{{ estudiante.nombre }}</td>
            <td>{{ estudiante.dni }}</td>
            <td>{{ estudiante.fecha_nacimiento }}</td>
            <td>{{ estudiante.fechaInicio }}</td>
            <td>{{ estudiante.grado }}</a></td>
        </tr>
        {% endfor %}
        {% endif %}
</table>
{% endblock %}