<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTUDIANTES</title>
    {% load static %}
    <link href="{% static 'css/tablas.css' %}" rel="stylesheet">
</head>

<body>
    {% block content %}
    <table id="tabla">
        <thead>
            <tr>
                <th>NOMBRE<br></th>
                <th>DNI</th>
                <th>FECHA NACIMIENTO</th>
                <th>FECHA INICIO</th>
                <th>GRADO<br></th>
            </tr>
        </thead>
        <tbody>
            {% if estudiantes %}
                {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.nombre }}</td>
                    <td>{{ estudiante.dni }}</td>
                    <td>{{ estudiante.fecha_nacimiento }}</td>
                    <td>{{ estudiante.fechaInicio }}</td>
                    <td>{{ estudiante.grado }}</td>
                </tr>
                {% endfor %}
            {% endif %}
    </table>
    {% endblock %}

    <br><br><br><br><br>

    {% block verGrados %}
    <div class="verUniversidades">
        <button><a href="/myapp/universidades/listadouniversidades/" target="_self">VER UNIVERSIDADES</a></button>
    </div>
    {% endblock %}

    <br><br>

    {% block verAsignaturas %}
    <div class="verAsignaturas">
        <button><a href="/myapp/universidades/listadouniversidades/asignaturas.html" target="_self">VER
                ASIGNATURAS</a></button>
    </div>
    {% endblock %}
</tbody>

</html>