{% extends 'base.html' %}

{% load static %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>COD</th>
            <th>DURACION<br></th>
            <th>ASIGNATURAS</th>
        </tr>
    </thead>
    <tbody>
        {% if object.grados.all %}
        {% for grado in object.grados.all %}
        <tr>
            <td>{{ grado.nombre }}</td>
            <td>{{ grado.cod }}</td>
            <td>{{ grado.duracion }}</td>
            <td> <a href="{% url 'asignaturasGrado' grado.id %}"> link a las asignaturas</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<div class="verUniversidades">
    <button><a href="/myapp/universidades/listadouniversidades/" target="_self">VER UNIVERSIDADES</a></button>
</div>
{% endblock %}

