<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="lista_universidad.html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRADOS</title>

</head>

<body>
    <!-- Añadir como título "Grados oficiales de la (nombreUniversidad)" -->
    
    {% block content %}
    <table>
        <thead>
            <tr>
                <!-- <th><a href="universidades.html" target="_blank">UNIVERSIDAD</a><br></th> -->
                <th>NOMBRE</th>
                <th>COD</th>
                <th>DURACION<br></th>
                <th><a href="asignaturas.html" target="_self">ASIGNATURAS</a></th>
                <th><a href="estudiantes.html" target="_self">ESTUDIANTES</a><br></th>
            </tr>
        </thead>
        <tbody>
            <!-- Si existen universidades, se mete en el for, que mete cada registro en la tabla -->
            {% if grados %}
            {% for grado in grados %}
            <tr>
                <!-- <td>{{ grado.universidad.nombre }}</td> -->
                <td>{{ grado.nombre }}</td>
                <td>{{ grado.cod }}</td>
                <td>{{ grado.duracion }}</td>
                <!-- Preguntar a las asignaturas en qué grados están? -->
                <td>{{ grado.asignaturas }}</td>
                <!-- Preguntar a los estudiantes en qué grados están? -->
                <td>{{ grado.estudiantes }}</td>
                <!-- Hacer un contador que recorra toda la lista de estudiantes y devuelva el número -->
            </tr>
            {% endfor %}
            {% endif %}

        </tbody>
    </table>
    <style>
        table {
            border: 1px solid #b3adad;
            border-collapse: collapse;
            padding: 5px;
        }

        table th {
            border: 1px solid #b3adad;
            padding: 5px;
            background: #f0f0f0;
            color: #313030;
        }

        table td {
            border: 1px solid #b3adad;
            text-align: center;
            padding: 5px;
            background: #ffffff;
            color: #313030;
        }
    </style>
    {% endblock %}
    <br><br>
    {% block verGrados %}
        <div class="verUniversidades">
            <button><a href="universidades.html" target="_self">VER UNIVERSIDADES</a></button>
        </div>
    {% endblock %}
</body>

</html>