<!DOCTYPE html>
<html>
<link rel="stylesheet" href="lista_universidad.html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRADOS</title>
    {% load static %}  
    <link href="{% static 'css/tablas.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Añadir como título "Grados oficiales de la (nombreUniversidad)" -->
    {% block content %}
    <table>
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>COD</th>
                <th>DURACION<br></th>
            </tr>
        </thead>
        <tbody>
            {% if grados %}
                {% for grado in grados %}
                    <tr>
                        <td>{{ grado.nombre }}</td>
                        <td>{{ grado.cod }}</td>
                        <td>{{ grado.duracion }}</td>
                <!-- Preguntar a las asignaturas en qué grados están? -->
                <!-- {% for tuplaGradoAsignatura in listaTotal %}
                        <td><a href='/myapp/universidades/asignaturas/{{ tuplaGradoAsignatura.0.nombre }}/' > link a las asignaturas </a></td>         
                    </tr>
                {% endfor %} -->
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% endblock %}

    <br><br><br><br><br>

    {% block verGrados %}
        <div class="verUniversidades">
            <button><a href="/myapp/universidades/listadouniversidades/" target="_self">VER UNIVERSIDADES</a></button>
        </div>
    {% endblock %}

    <br><br>

    {% block verAsignaturas %}
        <div class="verAsignaturas">
            <button><a href="/myapp/universidades/listadouniversidades/asignaturas.html" target="_self">VER ASIGNATURAS</a></button>
        </div>
    {% endblock %}
</body>

</html>