<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
</head>
<body>
    <p>Prueba</p>
    {% block botones %}
        <div class="verGrados">
            <button id="btnGrados"><a href="grados.html" target="_self">VER GRADOS</a></button>
        </div>
        <div class="verUnis">
            <button id="btnUnis"><a href="universidades.html" target="_self">VER UNIVERSIDADES</a></button>
        </div>
    {% endblock %}
</body>
</html>