<!DOCTYPE html>
<html>
<script src="universidades.js"></script>

<head>


</head>

<body>
    {% block content %}
    <table id="tabla">

        <thead>
            <tr>
                <th>NOMBRE<br></th>
                <th>CIF</th>
                <th>CCAA</th>
                <th>SISTEMA EDUCATIVO</th>
                <th><a href="grados.html" target="_blank">GRADOS</a><br></th>
                <th><a href="estudiantes.html" target="_blank">ESTUDIANTESS</a><br></th>
            </tr>
        </thead>
        <tbody>

            {% with contador="0" %}
            {% endwith %}
            <!-- Si existen universidades, se mete en el for, que mete cada registro en la tabla -->
            {% if listaTotal %}
                {% for tuplaUniGrado in listaTotal %}
                        
                            <tr>
                                <td>{{ tuplaUniGrado.0.nombre }}</td>
                                <!-- Estaría bien poder hacer click en cada nombre y que te lleve a la info de esa universidad en concreto. -->
                                <td>{{ tuplaUniGrado.0.cif }}</td>
                                <td>{{ tuplaUniGrado.0.ccaa }}</td>
                                <td>{{ tuplaUniGrado.0.sistemaEducativo }}</td>
                                <td><a href='/myapp/universidades/grados/{{ tuplaUniGrado.0.nombre }}/' > link al grado </a></td>    
                {% endfor %}
            {% endif %}
                {% for tuplaUniEstudiante in listaTotal %}
                        <td><a href='/myapp/universidades/estudiantes/{{ tuplaUniEstudiante.0.nombre }}/' > link a los estudiantes </a></td>         
                    </tr>
                {% endfor %}


        </tbody>
    </table>
    <style>
        table {
            border: 1px solid #b3adad;
            border-collapse: collapse;
            padding: 5px;
        }

        table th {
            border: 1px solid #b3adad;
            padding: 5px;
            background: #f0f0f0;
            color: #313030;
        }

        table td {
            border: 1px solid #b3adad;
            text-align: center;
            padding: 5px;
            background: #ffffff;
            color: #313030;
        }
    </style>
    {% endblock %}
    <br>
    <br>

</body>

</html>