<!DOCTYPE html>
<html>
    <script src="universidades.js"></script>
    
<head>
    <title>UNIVERSIDADES</title>

</head>

<body>
    {% block content %}
    <table id="tabla">
        
        <thead>
            <tr>
                <th><a href="grados.html" target="_blank">NOMBRE</a><br></th>
                <th>CIF</th>
                <th>CCAA</th>
                <th>SISTEMA EDUCATIVO<br></th>
            </tr>
        </thead>
        <tbody>
            <!-- Si existen universidades, se mete en el for, que mete cada registro en la tabla -->
            {% if universidades %}
            {% for universidad in universidades %}
            <tr>
                <td>{{ universidad.nombre }}</td>
                <!-- Estaría bien poder hacer click en cada nombre y que te lleve a la info de esa universidad en concreto. -->
                <td>{{ universidad.cif }}</td>
                <td>{{ universidad.ccaa }}</td>
                <td>{{ universidad.sistemaEducativo }}</td>
            </tr>
            {% endfor %}
            {% endif %}

        </tbody>
    </table>
    <style>
        table {
            border: 1px solid #b3adad;
            border-collapse: collapse;
            padding: 5px;
        }

        table th {
            border: 1px solid #b3adad;
            padding: 5px;
            background: #f0f0f0;
            color: #313030;
        }

        table td {
            border: 1px solid #b3adad;
            text-align: center;
            padding: 5px;
            background: #ffffff;
            color: #313030;
        }
    </style>
    {% endblock %}
<br>
<br>

    <div class="form-group">
        <label for="Comunidad autónoma">COMUNIDAD AUTÓNOMA:</label>                                                 
            <select name="CCAA" id="ccaa"  data-placeholder="- Seleccione la comunidad autónoma -"
             class="form-control chosenCcaa" onchange="change(this.id, 'ccaa')"
             value="%= typeof ccaa != 'undefined' ? Ccaa : '' %>">
              <option value=""></option>
              <option value="País Vasco">País Vasco</option>
              <option value="Madrid">Madrid</option>
            </select>
      </div>


    {% block verGrados %}
        <div class="verGrados">
            <button id="btnGrados"><a href="grados.html" target="_self">VER GRADOS</a></button>
        </div>
    {% endblock %}
</body>

</html>