{% extends 'base.html' %}

{% load static %}
{% block body %}
<div class="tablas">
    <table id="tabla">
        <thead>
            <tr>
                <th><button class="ordenar" onclick="ordenarTabla()">NOMBRE<br></button></th>
                <th>CIF</th>
                <th>CCAA</th>
                <th>SISTEMA EDUCATIVO</th>
                <th>GRADOS<br></th>
                <th>ESTUDIANTES</th>
            </tr>
        </thead>
        <tbody>
            <!-- Si existen universidades, se mete en el for, que mete cada registro en la tabla -->
            {% if object_list %}
            {% for uni in object_list %}
            <tr>
                <td>{{ uni.nombre }}</td>
                <td>{{ uni.cif }}</td>
                <td>{{ uni.ccaa }}</td>
                <td>{{ uni.sistemaEducativo }}</td>
                <td><a href="{% url 'gradosUniversidad'  uni.id  %}"> link a los grados </a></td>
                <td><a href="{% url 'estudiantesUniversidad' uni.id %}"> link al los estudiantes </a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<div>
    <p class="imprimir" style="background: rgb(63, 63, 247); text-align: center; justify-content: center
    ; margin-top: 2%; margin-left: 30%; margin-right: 30%; border-radius: 20px;">Si quiere guardar la información de esta página,  <input style="background-color: rgb(154, 154, 251); border: none;" type="button" value="Imprime esta página" onclick="window.print()"></p>
</div>


{% endblock %}